@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
}

nav .logo img {
  max-width: 200px;
}

nav .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right ul li {
  padding: 0 1rem;
}

nav .right .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .right .contact img {
  max-width: 30px;
  background: #3dadf2;
  padding: 0.25rem;
  border-radius: 50%;
  margin-right: 10px;
}

nav .right a {
  color: #333;
}

nav .right a.c_btn {
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3dadf2), to(#005696));
  background: linear-gradient(to bottom, #3dadf2, #005696);
}

main {
  padding: 4rem;
}

main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .intro .text p {
  color: #999;
  margin: 1rem 0;
}

main .intro .text a {
  margin-top: 1.5rem;
  color: #fff;
  background: #f8ca1b;
  font-size: 1.2rem;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

main .intro .landing_image img {
  max-width: 900px;
}

main .more_info {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(238, 238, 238, 0.3);
  border-radius: 1rem;
  padding: 2rem 4rem;
}

main .more_info .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .more_info .left p {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #666;
}

main .more_info .right {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

main .more_info .right ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

main .more_info .right ul li {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .more_info .right ul li img {
  margin-right: 1rem;
  height: 40px;
  width: 40px;
}

main .more_info .right ul li:nth-child(1) {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

main .more_info .right ul li:nth-child(2) {
  border-bottom: 1px solid #999;
}

main .more_info .right ul li:nth-child(3) {
  border-right: 1px solid #999;
}

main .more_info .right ul .ri p {
  color: #666;
  font-size: 0.8rem;
}

main .top_courses,
main .ad {
  margin-top: 4rem;
}

main .top_courses p,
main .ad p {
  color: #999;
}

main .top_courses .tc_banner,
main .ad .tc_banner {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(238, 238, 238, 0.3);
  padding: 4rem;
  background-image: url("../assets/freepik--Character--inject-62.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

main .top_courses .tc_banner .right,
main .ad .tc_banner .right {
  margin-left: 3.5rem;
}

main .top_courses .tc_banner .right p,
main .ad .tc_banner .right p {
  margin: 1rem 0;
}

main .top_courses .tc_banner .right p:nth-child(3),
main .ad .tc_banner .right p:nth-child(3) {
  color: #3dadf2;
}

main .top_courses .tc_banner .right p:nth-child(4),
main .ad .tc_banner .right p:nth-child(4) {
  color: #333;
  font-size: 1.1rem;
  font-weight: 700;
}

main .top_courses .tc_banner .right .buttons,
main .ad .tc_banner .right .buttons {
  margin-top: 2.5rem;
}

main .top_courses .tc_banner .right .buttons .btn,
main .ad .tc_banner .right .buttons .btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

main .top_courses .tc_banner .right .buttons .btn1,
main .ad .tc_banner .right .buttons .btn1 {
  background: #fdc800;
  color: #fff;
}

main .top_courses .tc_banner .right .buttons .btn2,
main .ad .tc_banner .right .buttons .btn2 {
  border: 1px solid #3dadf2;
  color: #3dadf2;
  display: inline-block;
  margin-left: 2rem;
}

main .top_courses .card,
main .ad .card {
  background: #fff;
  max-width: 250px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

main .top_courses .card img,
main .ad .card img {
  max-width: 200px;
}

main .top_courses .card .title,
main .ad .card .title {
  color: #333;
  font-weight: 700;
}

main .top_courses .card .category,
main .ad .card .category {
  font-size: 0.9rem;
  margin: 1.5rem 0;
}

main .top_courses .card .bottom,
main .ad .card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

main .top_courses .card .bottom .rating,
main .ad .card .bottom .rating {
  background: #002147;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

main .top_courses .card .bottom .ranking,
main .ad .card .bottom .ranking {
  background: #3dadf2;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

main .ad .tc_banner {
  background: #f8ca1b;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-image: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

main .ad .tc_banner .right p:nth-child(2) {
  color: #333;
}

main .ad .tc_banner .right p:nth-child(3) {
  color: #fff;
}

main .ad .tc_banner .right .buttons .btn1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3dadf2), to(#005696));
  background: linear-gradient(to bottom, #3dadf2, #005696);
  color: #fff;
}

main .ad .tc_banner .right .buttons .btn2 {
  color: #333;
}

main .ad .card {
  margin-left: 3.5rem;
}

main .description {
  margin: 4rem 0;
  width: 100%;
  height: 300px;
  background-image: url("../assets/Component 23 – 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .suscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

main .suscription .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .suscription .content img {
  margin-right: 2rem;
}

main .suscription .content .form_container p {
  color: #fdc800;
}

main .suscription .content .input {
  position: relative;
  border: 1px solid #999;
  border-radius: 5px;
}

main .suscription .content .input img {
  background: #333;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 5px;
}

main .suscription .content .input input {
  outline: none;
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  border: none;
  width: 100%;
  min-width: 300px;
}

main .suscription .content .input button {
  position: absolute;
  right: 5px;
  top: 4px;
  outline: none;
  border: none;
  padding: 0.25rem 1rem;
  color: #333;
  background: #fdc800;
  border-radius: 5px;
}

main .form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .form_container form {
  margin-top: 2rem;
}

main .form_container form .form_row {
  margin: 0.5rem 0;
}

main .form_container form .form_row label {
  display: inline-block;
  width: 150px;
}

main .form_container form .form_row input {
  min-width: 200px;
  border: none;
  outline: none;
  border: 1px solid #999;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main .form_container form .form_row input:focus {
  border: 1px solid #fdc800;
  -webkit-box-shadow: 0px 0px 3px #fdc800;
          box-shadow: 0px 0px 3px #fdc800;
}

main .form_container form button {
  margin-top: 1rem;
  border: none;
  outline: none;
  background: #fdc800;
  color: #333;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}

main .success_msg {
  background: #fdc800;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2rem;
}

.offer {
  position: relative;
  top: 2rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer div {
  background: #002147;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border-radius: 10px;
}

.offer div .timer {
  font-size: 0.75rem;
}

.offer div .timer .st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer div .timer #hours,
.offer div .timer #minutes,
.offer div .timer #days,
.offer div .timer #seconds {
  font-size: 2rem;
}

.offer img {
  max-width: 100px;
}

.offer p span {
  color: #fdc800;
}

.offer p._left {
  color: #fdc800;
}

footer .contact {
  background: #005696;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
}

footer .contact address {
  font-style: normal;
}

footer .contact address h2 {
  color: #fdc800;
}

footer .contact .row {
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contact .row li {
  text-align: center;
}

footer .contact .row li:nth-child(1) {
  margin-right: 2rem;
}

footer .contact .row li .__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact .row li a {
  display: inline-block;
  margin-top: 1.5rem;
  background: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  color: #333;
}

footer .sm_links {
  background: #fdc800;
  padding: 1rem;
}

footer .sm_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .sm_links ul li {
  margin: 1rem 2.5rem;
}

footer .sm_links ul li img {
  max-width: 35px;
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .right ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .right ul li {
    padding: 1rem;
  }
  main {
    padding: 1rem;
  }
  main .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .intro .text {
    margin-top: 3rem;
  }
  main .intro .landing_image img {
    max-width: calc(100vw - 4rem);
  }
  main .more_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  main .more_info .right ul {
    display: block;
  }
  main .more_info .right ul li:nth-child(1), main .more_info .right ul li:nth-child(2), main .more_info .right ul li:nth-child(3) {
    border: none;
  }
  main .more_info .right ul li:not(:last-child) {
    border-bottom: 1px solid #999;
  }
  main .top_courses .tc_banner,
  main .ad .tc_banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 2rem;
    background-size: 120px 300px;
  }
  main .top_courses .tc_banner .right,
  main .ad .tc_banner .right {
    margin-left: 0;
    margin-top: 2rem;
  }
  main .top_courses .tc_banner .right .buttons,
  main .ad .tc_banner .right .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  main .top_courses .tc_banner .right .buttons .btn1,
  main .top_courses .tc_banner .right .buttons .btn2,
  main .ad .tc_banner .right .buttons .btn1,
  main .ad .tc_banner .right .buttons .btn2 {
    width: 170px;
  }
  main .top_courses .tc_banner .right .buttons .btn2,
  main .ad .tc_banner .right .buttons .btn2 {
    margin-left: 0;
    margin-top: 1rem;
  }
  main .ad .tc_banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .ad .tc_banner .right {
    margin-top: 0;
  }
  main .ad .tc_banner .card {
    margin-top: 2rem;
  }
  main .description {
    background-image: url("../assets/Group 7004.png");
    background-size: contain;
    height: 1550px;
  }
  main .suscription .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .suscription .content img {
    margin-top: 2rem;
  }
  main .suscription .content .input {
    margin: 1rem 0;
  }
  main .suscription .content .input img {
    top: -27px;
  }
  .offer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.75rem;
  }
  .offer div .timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 1rem;
  }
  footer .contact .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-top: 1rem;
  }
  footer .contact .row li {
    text-align: left;
    margin-top: 1rem;
  }
  footer .contact .row li a {
    margin-top: 0.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */